* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgba(44, 184, 118, 0.575);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header nav li {
    display: inline-block;
}

header {
    padding: 2rem;
    background-color: rgba(235, 2, 118, 0.397);
}

header img {
    width: 6rem;
}

header input {
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    height: 25px;

}

main video {
    width: 100%;
    overflow: hidden;
}

.flex-item {
    flex: 1;
}

img {
    width: 100%;
}

#minishop img {
    aspect-ratio: 1/1;
    object-fit: cover;
}
figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}
footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a, footer ul:first-child li a {
    color: #4ec7ff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
}

footer i:hover {
    transform: scale(1.1);
}

footer ul li:first-child a {
    color: #4d66f5;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}


footer .flex-container:first-child {
    margin-bottom: 2rem;
}