* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgba(44, 184, 118, 0.575);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header nav li {
    display: inline-block;
}

header {
    padding: 2rem;
    background-color: rgba(235, 2, 118, 0.397);
}

header img {
    width: 6rem;
}

header input {
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    height: 25px;

}

main video {
    width: 100%;
    overflow: hidden;
}

.flex-item {
    flex: 1;
}

img {
    width: 100%;
}

#minishop img {
    aspect-ratio: 1/1;
    object-fit: cover;
}
figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
}